{% extends "template/base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-8 text-center p-5 own-card">
                {{ form_start(form) }}

                <div class="d-flex flex-row mb-2">
                    <div class="col-3 text-center">
                        {{ form_label(form.equipeAdverse) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.equipeAdverse) }}
                        {{ form_errors(form.equipeAdverse) }}
                    </div>
                </div>

                <div class="d-flex flex-row mb-2">
                    <div class="col-3 text-center">
                        {{ form_label(form.lieu) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.lieu) }}
                        {{ form_errors(form.lieu) }}
                    </div>
                </div>

                <div class="d-flex flex-row mb-2">
                    <div class="col-3 text-center">
                        {{ form_label(form.date) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.date) }}
                        {{ form_errors(form.date) }}
                    </div>
                </div>

                <div class="d-flex flex-row mb-2">
                    <div class="col-3 text-center">
                        {{ form_label(form.typeMaillot) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.typeMaillot) }}
                        {{ form_errors(form.typeMaillot) }}
                    </div>
                </div>

                <button class="btn btn-small btn-secondary mt-5">Prochaine étape</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}