{% extends "template/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stade.css') }}">
{% endblock %}

{% block content %}
    <div class="row p-0 m-0">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center p-0">
            <div>
                <h3>Match contre '{{ match.equipeAdverse }}' le {{ match.date|date('d/m/Y') }} à {{ match.date|date('H:i') }}</h3>
            </div>
            <div class="row col-12">
                <div class="col-2 text-center own-card mt-1 mr-2 p-3">
                    <div class="mb-2">
                        <h3>Capitaine</h3>
                        <h4 id="capitaine">?</h4>
                    </div>
                    <div>
                        <h3>Suppléant</h3>
                        <h4 id="suppleant">?</h4>
                    </div>
                    <hr/>
                    <div>
                        <h2>Arbitres</h2>
                        <h3>Principal</h3>
                        <h4 id="arbitre_principal">?</h4>

                        <h3>Secondaires</h3>
                        <h4 class="arbitre_secondaire">?</h4>
                        <h4 class="arbitre_secondaire">?</h4>

                        <button type="button" class="btn btn-primary mb-2" id="add_arbitre_button">
                            Ajouter un arbitre
                        </button>
                    </div>
                </div>
                <div class="text-center p-5 own-card mt-1 pt-md-1">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mb-2" id="add_new_player">
                        Ajouter un joueur
                    </button>

                    {% include "rencontre/stade.html.twig" %}
                </div>
                <div class="col-2 text-center own-card mt-1 ml-2 p-3" id="remplacants">
                    <h3>Remplaçants</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="set_player" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-target="{{ path('match_add_player') }}" data-pref="{{ path('player_get-pref') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un joueur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form.joueur) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form.joueur) }}
                            {{ form_errors(form.joueur) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form.numero) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form.numero) }}
                            {{ form_errors(form.numero) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form.position) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form.position) }}
                            {{ form_errors(form.position) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form.poste) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form.poste) }}
                            {{ form_errors(form.poste) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form.estRemplacant) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form.estRemplacant) }}
                            {{ form_errors(form.estRemplacant) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form.status) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form.status) }}
                            {{ form_errors(form.status) }}
                        </div>
                    </div>

                    {{ form_end(form) }}

                    <button class="btn btn-small btn-secondary mt-5" id="add_player" type="submit">Ajouter le joueur</button>
                </div>
            </div>
        </div>
  </div>

    <div class="modal fade" id="show_player" tabindex="-1" role="dialog" aria-labelledby="show_player" aria-hidden="true" data-showurl="{{ path('match_show-player') }}" data-remove="{{ path('match_remove-player') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Affichage du joueur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form2) }}

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form2.joueur) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form2.joueur) }}
                            {{ form_errors(form2.joueur) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form2.numero) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form2.numero) }}
                            {{ form_errors(form2.numero) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form2.position) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form2.position) }}
                            {{ form_errors(form2.position) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form2.poste) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form2.poste) }}
                            {{ form_errors(form2.poste) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form2.estRemplacant) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form2.estRemplacant) }}
                            {{ form_errors(form2.estRemplacant) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(form2.status) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(form2.status) }}
                            {{ form_errors(form2.status) }}
                        </div>
                    </div>

                    {{ form_end(form2) }}

                    <button class="btn btn-small btn-secondary mt-5" id="remove_player" type="submit">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_arbitre_form" tabindex="-1" role="dialog" aria-labelledby="add_arbitre_form" aria-hidden="true" data-target="{{ path('match_add-arbitre') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'un arbitre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formArbitre) }}

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(formArbitre.arbitre) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(formArbitre.arbitre) }}
                            {{ form_errors(formArbitre.arbitre) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(formArbitre.estPrincipal) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(formArbitre.estPrincipal) }}
                            {{ form_errors(formArbitre.estPrincipal) }}
                        </div>
                    </div>

                    {{ form_end(formArbitre) }}

                    <button class="btn btn-small btn-primary mt-5" id="add_arbitre" type="submit">Ajouter l'arbitre</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let t  = "{{ players|json_encode|escape('js') }}";
        let capitaine = JSON.parse("{{ match.capitaine|json_encode|escape('js') }}")
        let suppleant = JSON.parse("{{ match.suppleant|json_encode|escape('js') }}");

        let arbitres = JSON.parse("{{ arbitres|json_encode|escape('js') }}");

        arbitres.forEach(function(arbitre) {
            console.log(arbitre);
            updateArbitres(arbitre.nom, arbitre.estPrincipal)
        })
        console.log(arbitres);

        let match_id = "{{ match.id }}";

        $('#add_arbitre_button').click(function() {
            $('#add_arbitre_form').modal();
        })

        $("#joueur_match_joueur").change(function() {
            if(!$('#joueur_match_poste').prop('disabled')) {
                let id = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: $('#set_player').data('pref'),
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.success) {
                            $('#joueur_match_poste').val(data.pref);
                        }
                    }
                })
            }
        })

        $('#add_arbitre').click(function() {
            console.log("oUI ?");
            $('#add_arbitre_form').modal('hide')

            console.log($('#arbitre_rencontre_estPrincipal').prop('checked'));
            let principal = $('#arbitre_rencontre_estPrincipal').prop('checked');
            let arbitre = $('#arbitre_rencontre_arbitre option:selected').html();

            $.ajax({
                type: 'POST',
                url: $('#add_arbitre_form').data('target'),
                data: {
                    'match_id': match_id,
                    'arbitre': $('#arbitre_rencontre_arbitre').val(),
                    'principal': $('#arbitre_rencontre_estPrincipal').prop('checked')
                },
                success: function(data) {
                    if(data.success) {
                        console.log("oUI ?");
                        updateArbitres(arbitre, principal)
                    }
                }
            })
        })

        function updateArbitres(name, principal) {
            if(principal) {
                $('#arbitre_principal').html(name)
            } else {
                console.log("Here");
                $('.arbitre_secondaire').each(function() {
                    if($(this).html() == "?") {
                        $(this).html(name);
                        return false;
                    }
                })
            }
        }
    </script>
    <script src="{{ asset('build/stade.js') }}"></script>
{% endblock %}