{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <table class="table table-dark">
            <thead>
                <tr scope="row">
                    <th>Equipe rencontré</th>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if matchs|length > 0 %}
                {% for key,match in matchs %}
                    <tr scope="row">
                        <td>{{ match.equipeAdverse }}</td>
                        <td>{{ match.date|date("d/m/Y") }}</td>
                        <td>
                            {{ (buts[key] is defined) ? buts[key] : '0' }} -
                            {{ (butsAdverse[key] is defined) ? butsAdverse[key] : '0' }}
                        </td>
                        {% set date = match.date|date("Y/m/d H:i") %}
                        {% set now = "now"|date("Y/m/d H:i") %}

                        {% if match.premiereMiTemps != "" %}

                            <td>
                            {% if match.finMatch == "" %}
                                <p class="text-danger">En jeu</p>
                            {% endif %}
                            <a class="btn btn-dark" href="{{ path('stats_match',{'id' : match.id}) }}">Statistiques</a>
                            <a class="btn btn-dark ml-2" href="{{ path('match_view',{'id' : match.id}) }}">Voir</a></td>
                        {% else %}
                            <td><a class="btn btn-dark" href="{{ path('match_add_step',{'id' : match.id}) }}">Définir l'équipe</a>
                            <a class="btn btn-dark ml-2" href="{{ path('match_view',{'id' : match.id}) }}">Voir</a>
                            <a class="btn btn-dark ml-2" href="{{ path('stats_match',{'id' : match.id}) }}">Stats</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-danger">
                        Il n'y a aucun match recensé pour le moment
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}