{% extends "template/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stade.css') }}">
{% endblock %}

{% block content %}
    <div class="row p-0 m-0 text-center">
        <div class="col-12 d-flex flex-column align-items-center">
            {% if match.finMatch %}
                <div class="col-2" style="position: absolute; left: 0px;">
                    <a href="{{ path('match_resumee', {id: match.id}) }}"><button class="btn btn-small btn-primary">Voir le résumé</button></a>
                </div>
            {% else %}
                <div class="col-2 greened d-flex justify-content-center align-items-center" style="position: absolute; left: 0px;">
                    <h3 id="timer" data-toggle="tooltip" data-placement="top" title="Cliquer" data-update="{{ path('match_update-timer') }}">Démarrer le match</h3>
                </div>
            {% endif %}

            <h3>Match contre '{{ match.equipeAdverse }}' le {{ match.date|date('d/m/Y') }} à {{ match.date|date('H:i') }}</h3>

            <div id="sign" class="p-1 col-2 mb-3 mt-2">
                <h1><span id="own-goal">0</span> - <span id="opponent-goal">0</span></h1>
            </div>
        </div>
        <div class="col-12 d-flex flex-row justify-content-center  p-0" id="stade_container">
            <div class="col-2">
                <p>Votre équipe</p>

                <button id="button_add_but" class="btn btn-primary">Nouveau but</button>
                <button id="button_add_faute" class="btn btn-danger mt-2 mb-2">Nouvelle faute</button>
                <button id="button_add_changement" class="btn btn-primary">Nouveau changement</button>

                <div id="resume_own" class="mt-3">
                    <hr>
                    <p>Fautes : <span id="t-faute">0</span></p>
                    <p>Changements : <span id="t-changement">0</span></p>
                </div>

            </div>

            <div class="text-center p-5 own-card mt-1">
                {% include 'rencontre/stade.html.twig' %}
            </div>

            <div class="col-2">
                <p>{{ match.equipeAdverse }}</p>

                <button id="button_add_but_adverse" data-target="{{ path('match_add-but') }}" class="btn btn-primary">Nouveau but</button>
            </div>
        </div>
    </div>
    <style>
        #stade_container button {
            width: 170px;
        }
    </style>

    <div class="modal fade" id="add_but_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-target="{{ path('match_add-own-but') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un but</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(butForm) }}

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(butForm.joueur) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(butForm.joueur) }}
                            {{ form_errors(butForm.joueur) }}
                        </div>
                    </div>

                    {{ form_end(butForm) }}

                    <button class="btn btn-small btn-secondary mt-5" id="add_but" type="submit">Ajouter le but</button>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="add_faute_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-target="{{ path('match_add-faute') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une faute</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(fauteForm) }}

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(fauteForm.joueur) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(fauteForm.joueur) }}
                            {{ form_errors(fauteForm.joueur) }}
                        </div>
                    </div>

                     <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(fauteForm.sanction) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(fauteForm.sanction) }}
                            {{ form_errors(fauteForm.sanction) }}
                        </div>
                    </div>

                     <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(fauteForm.carton) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(fauteForm.carton) }}
                            {{ form_errors(fauteForm.carton) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(fauteForm.arbitre) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(fauteForm.arbitre) }}
                            {{ form_errors(fauteForm.arbitre) }}
                        </div>
                    </div>

                    {{ form_end(butForm) }}

                    <button class="btn btn-small btn-secondary mt-5" id="add_faute" type="submit">Ajouter la faute</button>
                </div>
            </div>
        </div>
     </div>

    <div class="modal fade" id="add_changement_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-target="{{ path('match_add-changement') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un changement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(changementForm) }}

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(changementForm.entreeJoueur) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(changementForm.entreeJoueur) }}
                            {{ form_errors(changementForm.entreeJoueur) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(changementForm.sortieJoueur) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(changementForm.sortieJoueur) }}
                            {{ form_errors(changementForm.sortieJoueur) }}
                        </div>
                    </div>

                     <div class="d-flex flex-row mb-2">
                        <div class="col-3 text-center">
                            {{ form_label(changementForm.tempsDeSortie) }}
                        </div>
                        <div class="col-9">
                            {{ form_widget(changementForm.tempsDeSortie) }}
                            {{ form_errors(changementForm.tempsDeSortie) }}
                        </div>
                    </div>

                    {{ form_end(butForm) }}

                    <button class="btn btn-small btn-secondary mt-5" id="add_changement" type="submit">Ajouter le changement</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let t  = "{{ players|json_encode|escape('js') }}";
        let capitaine = JSON.parse("{{ match.capitaine|json_encode|escape('js') }}")
        let suppleant = JSON.parse("{{ match.suppleant|json_encode|escape('js') }}");

        let match_id = "{{ match.id }}";
    </script>
    <script src="{{ asset('build/stade.js') }}"></script>
    <script>
        let date = "{{ match.date|date('Y/m/d H:i:s') }}";
        let now = new Date();
        now.setHours(now.getHours()+2);
        let premiere = "{{ match.premiereMiTemps }}";
        let seconde = "{{ match.secondeMiTemps }}";
        let fin = "{{ match.finMatch }}";
        let d = new Date(Date.parse(date));
        d.setHours(d.getHours()+2);

        // Timer Variables

        let pause = false;
        let pauseMiTemps = false;
        let mitempsPassed = false;

        let time = 0;
        let refreshTimer = 0;

        // Stats
        let ownGoals = parseInt("{{ match.but|length }}");
        let opponentGoals = parseInt("{{ match.butAdverses|length }}");
        let changements = parseInt("{{ match.changements|length }}");
        let fautes = parseInt("{{ match.fautes|length }}");


        if(premiere !== "") { // défini
            if(fin != "") {
                $('#timer').html("Match terminé")
            } else {
                if(seconde != "") {
                    mitempsPassed = true;
                }
                d.setMinutes(d.getMinutes() + parseInt(premiere))
                time = getMinutesBetweenDates(now, d)*60;
                startTimer();
            }
        }


        updateOwnGoal();
        updateOpponentGoal();
        updateFail();
        updateChangement();

        console.log(date);

        console.log(d);


        function startTimer() {
            $('#timer').attr('data-original-title', "Mettre en pause").tooltip('show');
            refreshTimer = setInterval(function() {
                time++;
                console.log("debut " + (time/60));
                if((time/60) >= 45 && !mitempsPassed) {
                    pauseMiTemps = true;
                    clearInterval(refreshTimer);
                    $('#timer').html("Démarrer la Seconde mi-temps")
                    $('#timer').attr('data-original-title', "Cliquer").tooltip('show');
                    return;
                } else if((time/60) >= 90) {
                    console.log("impossible");
                    console.log("SEND UPDATE TIME 3" + time);
                    clearInterval(refreshTimer);
                    $('#timer').html("Match terminé")
                    sendUpdateTime(3)
                }
                $('#timer').html(display(time))
            }, 1000);
        }

        function display (seconds) {
            const hours = seconds / 3600
            const minutes = (seconds % 3600) / 60
            seconds %= 60

            return [hours, minutes, seconds].map(format).join(':')
        }

        function format (val) {
            return ('0' + Math.floor(val)).slice(-2)
        }

        function getMinutesBetweenDates(dt1, dt2) {
            console.log("Difference");
            console.log(dt1);
            console.log(dt2);
            var difference = Math.abs(dt1 - dt2);
            return Math.floor((difference/1000)/60);
        }

        $('#timer').click(function() {
            if(time == 0) {
                startTimer();
                sendUpdateTime(1)
            } else {
                if(pauseMiTemps) {
                    mitempsPassed = true;
                    sendUpdateTime(2);
                    startTimer()
                } else {
                    pauseTimer();
                }
            }
        })

        function pauseTimer() {
            if(pause) {
                pause = false;
                startTimer()
            } else {
                pause = true;
                clearInterval(refreshTimer);
                $('#timer').attr('data-original-title', "Relancer le match").tooltip('show');
            }
        }

        function sendUpdateTime(step) {
            $.ajax({
                url: $('#timer').data('update'),
                data: {
                    id: "{{ match.id }}",
                    step: step
                },
                success: function(data) {
                    if(data.success) {
                        console.log("SUCCESS");
                    }
                }
            })
        }

        $('#button_add_but').click(function() {
            $('#add_but_form').modal();
        })

        $('#button_add_faute').click(function() {
            $('#add_faute_form').modal();
        })

        $('#button_add_changement').click(function() {
            $('#add_changement_form').modal();
        })

        $('#button_add_but_adverse').click(function() {
            $.ajax({
                url: $('#button_add_but_adverse').data('target'),
                type: 'post',
                data: {
                    'match_id': match_id
                },
                success: function(data) {
                    if(data.success) {
                        opponentGoals++;
                        updateOpponentGoal();
                    }
                }
            })
        })


        // ---------------------------------

        $('#add_but').click(function() {
            $('#add_but_form').modal('hide');
            $.ajax({
                url: $('#add_but_form').data('target'),
                type: 'post',
                data: {
                    'match_id': match_id,
                    'player' : $('#but_joueur').val(),
                },
                success: function (data) {
                    if (data.success) {
                        ownGoals++;
                        updateOwnGoal();
                    }
                }
            })
        })

        $('#add_faute').click(function() {
            $('#add_faute_form').modal('hide');
            $.ajax({
                url: $('#add_faute_form').data('target'),
                type: 'post',
                data: {
                    'match_id': match_id,
                    'player': $('#faute_joueur').val(),
                    'sanction': $('#faute_sanction').val(),
                    'carton': $('#faute_carton').val(),
                    'referee': $('#faute_arbitre').val(),
                },
                success: function(data) {
                    if(data.success) {
                        fautes++;
                        updateFail();
                    }
                }
            })
        })

        $('#add_changement').click(function() {
            $('#add_changement_form').modal('hide');
            $.ajax({
                url: $('#add_changement_form').data('target'),
                type: 'post',
                data: {
                    'match_id': match_id,
                    'entry': $('#changement_entreeJoueur').val(),
                    'leave': $('#changement_sortieJoueur').val(),
                    'timeLeave': $("#changement_tempsDeSortie").val()
                },
                success: function(data) {
                    console.log(data);
                    if(data.success) {
                        changements++;
                        updateChangement();
                    }
                }
            })
        })

        function updateOwnGoal() {
            $('#own-goal').html(ownGoals);
        }

        function updateOpponentGoal() {
            $('#opponent-goal').html(opponentGoals);
        }

        function updateFail() {
            $('#t-faute').html(fautes);
        }

        function updateChangement() {
            $('#t-changement').html(changements);
        }
    </script>
{% endblock %}