#stade {
    position: relative;

    background: url('../../public/assets/images/stade.jpg');
    width: 600px;
    height: 700px;
    background-size: cover;
    background-position: center;

    /* display: grid;
     grid-template-columns: repeat(10, 30px);
     grid-template-rows: repeat(10, 20px);*/
}

.player_name {
    position: absolute;
    color: black;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    width: 80px;
    text-align: center;
    min-height: 85px;
    max-height: 120px;
}

.player_name h3 {
    position: absolute;
    left: 19px;
    margin-top: 15px;
    color: #1b1e21;
    width: 40px;
    text-align: center;
}

.player_name:hover {
    cursor:pointer;
}

.player_name p {
    position: absolute;
    margin-top: 60px;
    width: 80px;
    text-align: center;
}

#gardien {
    bottom: 35px;
    right: 42.8%;
}

#arriere_droit {
    bottom: 135px;
    right: 13.8%;
}

#arriere_gauche {
    bottom: 135px;
    left: 12.4%;
}

#milieu_defensif_droit {
    bottom: 135px;
    right: 33.5%;
}

#milieu_defensif_gauche {
    bottom: 135px;
    left: 29.6%;
}

#milieu_centre {
    position: absolute;
    bottom: 223px;
    left: 43.3%;
}

#avant_droit {
    top: 180px;
    right: 13.8%;
}

#avant_gauche {
    top: 195px;
    left: 13.9%;
}

#ailier_droit {
    top: 320px;
    right: 25.8%;
}

#ailier_gauche {
    top: 320px;
    left: 24%;
}

#avant_centre {
    top: 100px;
    right: 42.6%;
}

.remplacants {
    position: relative;
}
.remplacants h5 {
    top: 18px;
    position: absolute;
    left: 43%;
    width: 20px;
}

#sign {
    border-radius: 3px;
    background-color: #d7dce4;
    width: 120px;
    min-height: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.greened {
    padding: 10px;
    background-color: #00a28a;
    border-radius: 3px;
}
.greened h3 {
    color: white;
}

h3, h5, h2, h1 {
    margin: 0;
    padding: 0;
}
#timer:hover {
    cursor:pointer;
}