{% extends "template/base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div>
        <div class="col-5 text-center p-5 own-card">
            {{ form_start(form) }}

            <div class="d-flex flex-row mb-2">
                <div class="col-3 text-center">
                    {{ form_label(form.nom) }}
                </div>
                <div class="col-9">
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>
            </div>

            <div class="d-flex flex-row mb-2">
                <div class="col-3 text-center">
                    {{ form_label(form.prenom) }}
                </div>
                <div class="col-9">
                    {{ form_widget(form.prenom) }}
                    {{ form_errors(form.prenom) }}
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="col-3 text-center">
                    {{ form_label(form.nationalite) }}
                </div>
                <div class="col-9">
                    {{ form_widget(form.nationalite) }}
                    {{ form_errors(form.nationalite) }}
                </div>

            </div>

            <button class="btn btn-small btn-secondary mt-5">{{ title }}</button>

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}