{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if referees|length > 0 %}
                {% for referee in referees %}
                    <tr scope="row">
                        <td>{{ referee.nom }}</td>
                        <td>{{ referee.prenom }}</td>
                        <td><a class="btn btn-dark" href="{{ path('stats_arbitre',{'id' : referee.id}) }}">Stats</a></td></td>
                        <td><button class="btn btn-secondary btn-small">Supprimer</button>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-danger">
                        Il n'y a aucun arbitre pour le moment
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>


    <a href="{{ path("referee_add") }}"><button class="btn btn-small btn-primary mt-5">Ajouter un arbitre</button></a>
{% endblock %}