{% extends "template/base.html.twig" %}

{% block content %}
    <h3>Prochains matchs :</h3>
    {% if matchs|length > 0 %}
        {% for match in matchs %}
            <div class="m-1 p-2">
                <h4><b>{{ match.equipeAdverse }}</b> à {{ match.lieu }} le {{ match.date|date('Y/m/d à H:i') }}</h4>
            </div>
        {% endfor %}
    {% else %}
        <h3 class="text-error">Aucun match n'est prévu pour le moment</h3>
    {% endif %}

{% endblock %}