{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <div class="container">
            <div class="col-12 text-center">
                <h3>{{ referee.nom }} {{ referee.prenom }}</h3>
            </div>
        </div>
        <table class="table table-dark">
            <tbody>
            <tr>
                <td scope="col">Nationalitée</td>
                <td scope="col">{{ referee.nationalite }}</td>
            </tr>
            <tr>
                <td scope="col">Nombre de match arbitré</td>
                <td scope="col">
                    <p>Principal : {{ principal }}  </p>
                    <p>Assistant : {{ assistant }}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}